/*  responsive start */
@media (max-width: 767px) {
    .heading-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 55px;
    }

    .banner-content h2 {
        font-size: 42px;
        line-height: 57px;
    }

    .game-details-text h2 {
        font-size: 36px;
        line-height: 45px;
        font-weight: 700;
        color: #212121;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .footer-section .footer-description {
        margin: 0px !important;
        padding: 0px !important;
    }

    .social-icon {
        margin-top: 20px;
    }

    .row.game-play {
        flex-direction: column-reverse;
    }

    .row.contact-form {
        flex-direction: column-reverse;
        padding: 0px !important;
    }
    label.form-check-label {
        font-size: 14px;
    }
}

@media (max-width: 1199px) {
    .navbar-toggler {
        background-color: #57A800;
        padding: 6px 8px;
        border-radius: 5px;
        border: none;
    }
}

@media (max-width: 991px) {
    span.navbar-toggler-icon {
        color: #fff;
    }

    .navbar-toggler {
        background-color: #57A800;
        padding: 6px 8px;
        border-radius: 5px;
        border: none;
    }

    .faq-frequently-one img {
        display: none;
    }

    .faq-frequently img {
        display: none;
    }

    .contact-form .form-wrapper>div {
        flex-direction: column;
    }
}
